<div fxLayout="column wrap" style="background:#0071BB;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-toolbar style="background:#0071BB;height:80px;box-shadow:2px 2px 15px grey;">
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/logoo.png"></div>
      <div fxLayout="row wrap" fxLayoutAlign="  stretch" [fxShow]="true" [fxHide]="false">
        <mat-icon style="color:white;"> power_settings_new</mat-icon>
      </div>
    </div>
  </mat-toolbar>
</div>